h1 {
    color:white;
    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 350%;
}
h2 {
    color: white;
    background-color: #00122D;
    font-style: italic;
}
h3 {
    color:white;
    background-color: orange;
    font-family: monospace;
    font-size: 200%;
}
.first em {
    color: white;
    background-color: green;
}
body {
    background-color: black;
}
.test-box {
    border-top:5px solid green;
    border-bottom:5px solid orange;
    border-right:5px solid blue;
    border-left:5px solid violet;
    padding:50px;
}
p {
    color: orange;
    font-family: monospace;
    font-size: 130%;
}
img {
   float:right;
}
.sidebar {
   float:center;
   width:40%;
}
}
